body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

header{
    color: yellow;
    font-family: 'Lobster', cursive;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 25px;
    background-color: red;
}

#container{
    padding: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 650px;
    background-color: red;
    border-radius: 25px;
}

.column{
    border-style: solid;
    border-width: 0.5px;
    flex: 1;
    background-color:white;
}

.row{
    display: flex;
    flex: 1;
}

.activated {
    background-color: black;
}